@model ProductLabelPrinting.Models.UIModels.ProductMasterUIModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>
                    <div class="col-md-12" style="text-align:right">
                        <button type="button" name="btnAddProduct" id="btnAddProduct" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddProductModal">
                            <i class="bi bi-plus-lg"></i> Add Product
                        </button>
                    </div>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Product Name</th>
                                <th>Unique Code</th>
                                <th>CAS</th>
                                <th>Chemical Formula</th>
                                <th>Manufacture License</th>
                                <th>Molecular Weight</th>
                                <th>Storage Condition</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.productMasterList.Select((x, i) => new { Data = x, index = i }))
                            {
                                <tr>
                                    <td>@(item.index+1)</td>
                                    <td>@item.Data.ProductName</td>
                                    <td>@item.Data.UniqueCode</td>
                                    <td>@item.Data.CAS</td>
                                    <td>@item.Data.ChemicalFormula</td>
                                    <td>@item.Data.ManufacturerLicence</td>
                                    <td>@item.Data.MolecularWeight</td>
                                    <td>@item.Data.StorageConditon</td>
                                    <td>@item.Data.CreatedBy</td>
                                    <td>@item.Data.CreatedOn</td>
                                    <td>
                                        <a class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#AddProductModal" id="btnEditProduct" style="color:green;" onclick="GetProductDetailById(@serializer.Serialize(item))"></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade modal-lg" id="AddProductModal" tabindex="-1">
    @{ Html.RenderPartial("Partials/_AddProduct", Model); }
</div><!-- End Basic Modal-->



@section scripts{

    <script type="text/javascript">


        $("#btnAddProduct").on('click',function () {



        });


        function GetProductDetailById(item) {

            ClearControls();    
            $("#productUIModel_Id").val(item.Data.Id)
            $("#productUIModel_ProductName").val(item.Data.ProductName)
            $("#productUIModel_UniqueCode").val(item.Data.UniqueCode)
            $("#productUIModel_CAS").val(item.Data.CAS)
            $("#productUIModel_ChemicalFormula").val(item.Data.ChemicalFormula)
            $("#productUIModel_ManufacturerLicence").val(item.Data.ManufacturerLicence)
            $("#productUIModel_MolecularWeight").val(item.Data.MolecularWeight)
            $("#productUIModel_MasterLabel").val(item.Data.MasterLabel)
            $("#productUIModel_StorageConditon").val(item.Data.StorageConditon)
            $("#productUIModel_FinishMonth").val(item.Data.FinishMonth)
            $("#productUIModel_FinishMode").val(item.Data.FinishMode)
            $(".modal-title").text('Edit Product')
            console.log(item.Data.ProductName);
        }

        function ClearControls() {

            $("#productUIModel_Id").val(0);

            $("input[type='text'],hidden,textarea").each(function () {
                $(this).css("border-color", "#ced4da");
                $(this).next('span').html("");
                $(this).val('');
            });
        }



    </script>
}